@using Team121GBCapstoneProject.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="identity-nav-link  @ManageNavPages.IndexNavClass(ViewContext)" id="profile" style="color: #ffc107;" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="identity-nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" style="color: #ffc107;" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="identity-nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" style="color: #ffc107;" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="identity-nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" style="color: #ffc107;" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="identity-nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" style="color: #ffc107;" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="identity-nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" style="color: #ffc107;" asp-page="./PersonalData">Personal data</a></li>
    <li class="nav-item"><a class="identity-nav-link" id="findFriendsBtn" asp-area="" asp-controller="Home" style="color: #ffc107;" asp-action="FindFriends">Find Friends</a></li>
</ul>
