@*@model Team121GBCapstoneProject.Models.GameInfo;*@

@model Team121GBCapstoneProject.ViewModels.UserListsViewModel;

@{
    ViewData["Title"] = "Games Lists";
}

<div style="float: right">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddListForm">Add List</button>
</div>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div id="errorMsg">
        <div class="card-body text-danger">
            <span>
                <h2 style="display: inline-block">@ViewBag.ErrorMessage</h2>
            </span>
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div id="successMsg">
        <div class="card-body text-success">
            <span>
                <h2 style="display: inline-block">@ViewBag.Message</h2>
            </span>
        </div>
    </div>
}
@* @Html.DropDownListFor(m => m.LoggedInUser.PersonGameLists, Model.SelectListItems, "Select a category", new { @class = "form-control" }) *@


<div class="modal fade" id="AddListForm" tabindex="-1" aria-labelledby="jobFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobFormModalLabel">Add List!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form id="addListForm" method="post">
                        <div>
                            <label for="listType">List Type</label>
                            <br />
                            <select id="listType" name="listType">
                                <option value="1">Currently Playing</option>
                                <option value="2">Complete</option>
                                <option value="3">Want to Play</option>
                                <option value="4">Custom</option>
                            </select>
                        </div>
                        <div>
                            <label for="customListName">Custom List name</label>
                            <br />
                            <input id="customListName" name="listName" type="text" value="" maxlength="64" />
                        </div>
                        <input type="hidden" name="userId" value="@Model.LoggedInUser.Id" />


                        <input id="formSubmit" type="submit" asp-action="AddList" class="btn btn-primary"
                            data-bs-dismiss="modal" value="Add List" />

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br />
<div id="userLists">
    @foreach(var list in @Model.LoggedInUser.PersonGameLists)
    {
        <h1>@list.ListName.NameOfList</h1>
    }
    @*@foreach(var list in Model.UsersLists)
    {*@
    <table>
        <thead>
            <tr>
                <td>
                    <h1>List Name</h1>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h5>Game info</h5>
                </td>
            </tr>
        </tbody>
    </table>
    @*}*@
</div>