@model Team121GBCapstoneProject.Models.GameInfo;
@{
    ViewData["Title"] = "Top 100 Games Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bolder; margin-top: 5%;">Top 100 Games</h1>
    <h3>Last Updated: February 23, 2023</h3>
    <p>Rating were collected from IGN.com and the title, description, and cover photo were collected from wikipedia</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Photo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Rating</th>
                
            </tr>
        </thead>
        <tbody>
            @{
                int j = 1;
                @for (int i = 0; i < 100; i++)
                {
                    <tr>
                        <th scope="row">@j</th>
                        <td><img src=@($"{Model.games[i].CoverPicture}") width="200px" height="200px" /></td>
                        <td style="font-weight: bold;">@Model.games[i].Title</td>
                        <td>@Model.games[i].Description</td>
                        <td style="background-color: @Model.backgroundColor[i]; color: white; font-weight: bolder; text-align: center; font-size: larger">@Model.games[i].AverageRating</td>
                    </tr>
                    j++;

                }
            }
        </tbody>
    </table>
</div>