@model IEnumerable<IgdbGame>

<h1>Search Results</h1>

<table class="table" id="gameTable">
    <thead>
    <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Website</th>
    </tr>
    </thead>
    <tbody id="gameTableBody">
@*    @foreach (var game in Model)
    {
        <tr>
            <td><img src="@game.GameCoverArt" alt="@game.GameTitle" /></td>
            <td>@game.GameTitle</td>
            <td><a href="@game.GameWebsite">@game.GameWebsite</a></td>
        </tr>
    }*@
    </tbody>
</table>
